body, html {
  height: 100%;
  margin: 0;
  background-color: #ff9a70;
}

.container {
  height: 100%;
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 50px;
  font-family: monospace;
}

.logo {
  display: block;
  margin: auto;
  width: 100px;
}

button {
  font-family: monospace;
  display: block;
  margin: auto;
  width: 100px;
  padding: 15px 10px;
  border-radius: 5px;
}

.btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

#card-grid {
  display: grid;
  padding: 50px;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: white;
  max-width: 50px;
}

.red {
  color: red;
}
