body, html {
  height: 100%;
  margin: 0;
}

.container {
  background-color: lightblue;
  height: 100%;
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 50px;
  font-family: monospace;
}

.logo {
  display: block;
  margin: auto;
  width: 100px;
}

button {
  font-family: monospace;
  display: block;
  margin: auto;
  width: 100px;
  padding: 15px 10px;
  border-radius: 5px;
}

.btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card {
  width: 20px;
  height: 50px;
  border-radius: 3;
  border: 1px solid lightgray;
  background-color: white;
}
