body, html {
  height: 100%;
  margin: 0;
}

.container {
  background-color: lightgray;
  height: 100%;
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 50px;
  font-family: monospace;
}

.logo {
  display: block;
  margin: auto;
  width: 100px;
}
